@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Work Sans", serif;
}

.font-oswald {
    font-family: Oswald;
}

.font-oswalds {
    font-family: Oswald;
}

html,
body {
    height: 100%;
}

:root {
    --navbar-height: 100px;
    /* o cualquier valor que desees */
}

.swiper {
    width: 100%;
    height: 100%;
}

[data-hidde="true"]>header,
[data-hidde="true"],
[data-hidde="false"]>header,
[data-hidde="false"] {
    transition: transform  0.3s ease,height 0.3s ease
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
